{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>GO! Kill`em all!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
           <link rel="stylesheet" href="{% static 'css/game.css' %}">
           <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
           <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    </head>
    <body style="background-color: black; color: white;">
      <div class="container-fluid" id="main" style="width: 50%;">
        <h1> KILL 'EM ALL! </h1>
        <br/>
        {% block content %}{% endblock %}




        <footer class="footer">
        <div class="container-fluid">
          <span class="text-muted">GAME PROTOTYPE</span> <br>
          <span class="text-muted">HACK4DK 2017</span>
        </div>
        </footer>
    </div>

    </body>
</html>
