{% extends 'base.html' %}

{% load static %}

{% block content %}

<h2> Welcome</h2>
<h3> This is a game where real dead people are battling from beyond their graves!<h3>
  <br>
  <p>
    Your ability to fend off deadly diseases is based on your socio-economic status in society. If you are a baroness or professor you can afford much better health care than a maid or a worker.
  </p>
  <p>
    Not all diseases are made equal: Your chances of surviving diarrhea or heart diseases are much better than your chance of survining being hanged or the feared certain killer 'sudden death'
  </p>
  <div>
    <form action="/engine/joingame/{{ gameid }}">
        <input type="image" value="Start game" style="text-decoration: none; font-size:0" id="fadein" src="{% static 'icons/GO_ Kill`em all_.png' %}" alt="play-button" width="61%" style="margin: 69% 0 0 22%;">
    </form>
  </div>

{% endblock %}
