{% extends 'base.html' %}

{% block content %}
<h2>Results</h2><br/>

{{ game.roundone.winner.playername }}<br>
{{ game.roundtwo.winner.playername }}<br>
{{ game.roundthree.winner.playername }}<br>
{{ game.roundfour.winner.playername }}<br>
{{ game.roundfive.winner.playername }}<br>

<a href="{% url 'creategame' %}">New game!</a>

{% endblock %}
