{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="regions">
    <div>
      <form action="/engine/joingame/{{ gameid }}/" method="post">{% csrf_token %}
        <h2 style=" font-size: 44px; font-weight:lighter;">Player name</h2>
          <input type="text" name="playername"/><br/>
          <br/>
          <br/>
          <br/>
          <h2 style="font-size: 44px; font-weight:lighter;">Pick your hood</h2>
          <div class="li-bgr">
              <input type="radio" name="hoodname" value="3"/>Vesterbro
          </div>

          <div class="li-bgr">
          <input type="radio" name="hoodname" value="5"/>Østerbro<br>
          </div>
          <div class="li-bgr">
          <input type="radio" name="hoodname" value="4"/>Nørrebro<br>
          </div>
          <div class="li-bgr">
          <input type="radio" name="hoodname" value="2"/>Central Copenhagen<br>
          </div>
          <div class="li-bgr">
          <input type="radio" name="hoodname" value="1"/>Frederiksberg<br>
          </div>
          <br>
          <br>
          <input type="submit" value="Add player">
      </form>
    </div>
  </div>
</div>


{% endblock %}
