{% extends 'base.html' %}
{% load static %}
{% block content %}

<h2>{{ player.playername }}'s turn</h2>
<h2 style="padding-left: 8%;font-size: 44px;font-weight:lighter; padding-bottom: 4%;">CHOOSE YOUR CARD</h2>
<div class="container">
  <div id="cards">


{% for card in cards %}
  <div class="play-card" style="padding-top:20px; padding-left: 20px; width: 70%; position:relative;">
    {% if card %}
    <img src="/static/img/{{ card.imagename }}.jpg" style="max-width: 350px;max-height: 250px; align='center'"/>
    <h3>Name: {{ card.citizenname }}</h3>
    Address: {{ card.address }}<br/>
    Profession: {{ card.profession.professionname }}<br/>
    Cause of death: {{ card.deathcause.diseasename }}<br/>
    Year of birth: {{ card.dateofbirth }}<br/>
    Year of death: {{ card.dateofdeath }}<br/>
    <br>

    <form action="/engine/playcard" method="post">{% csrf_token %}
      <input type="hidden" name="cardid" value="{{ card.id }}"/>
      <input type="hidden" name="playerid" value="{{ player.id }}"/>
      <input type="submit" value="Play {{ card.citizenname }}!"/>
    </form>
    <div style="width: inherit;">
      {{ card.funfact }}
    </div>
  </div>

{% endif %}
{% endfor %}

</div>
</div>

{% endblock %}
