{% extends 'base.html' %}

{% block content %}
<div style="width: 50%;">
<h2>The winner of the round is:</h2><br/>
<h1>{{ winner.playername }}</h1><br>

With the card: <br/>
<h3>{{ card.citizenname }} - {{ card.profession.professionname }}</h3> <br>
<h2>Died of {{ card.deathcause.diseasename}}<br></h2>

{{ card.description }}<br>
<img src="/static/img/{{ card.imagename }}.jpg" style="max-width: 350px;max-height: 250px; align='center'"/><br>
<a href="{% url 'showcards' %}">Next round!</a>
</div>
{% endblock %}
