@charset "utf-8";
/* CSS Document */

#fadein {
	-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
	}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media only screen and (min-width: 375px) {}
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 1025px) {}
@media only screen and (min-width: 1025px) {}

#skull {
	margin-left: 46%;
	margin-bottom: 2%;
	}

#main {
	background-image:url(https://dncache-mauganscorp.netdna-ssl.com/cropped-wallpapers/528/528210-1536x864-[DesktopNexus.com].jpg?st=xMFjClu48aSk85bGTa7qqw&e=1506789337);
    background-repeat:no-repeat;
    background-size:cover;
}
#wrapper-cards {
	background-image:url(https://i.pinimg.com/originals/99/3d/e4/993de4f207530f4eb9df85a5f9d79a13.jpg);
    background-repeat:no-repeat;
}

.header {


	background-color: black;
	height: 5%;
	padding-top: 2%;
	padding-bottom: 2%;
	}

h1 {
	color: white;
	text-align:center;
	font-size:22px;
	font-family: 'Raleway';
	}

h2 {
	color: white;
	text-align:center;
	font-size:18px;
	font-family: 'Raleway';
	}

p {
	color: white;
	text-align:center;
	font-size:15px;
	font-family: 'Raleway';
	}

.container {
	padding: 1%;
	padding-bottom: 10%
	}

.regions{
	text-align:center;
	padding-top: 5%;
	}

.mylist {
    text-align: center !important;
	font-size: 32px;
	list-style: none;
	padding: 5%;
	text-transform: uppercase;

}

.li-bgr {
	background-image: url("http://www.creartivology.com/cphlimo/cphlimo-app/img/link-img.jpg");
	width: 100%;
	padding: 2%;
	margin: 2%;

	}

a:link {
    text-decoration: none;

}


.footer {
	top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding:1%;
    text-align: center;
	height: 5%;
	background-color: #191919;
}

.card {
	padding-top: 3%;
	}

.play-card{
	background-image: url("/static/img/card-blank.png");
	height: 600px;
	background-repeat:no-repeat;
    background-size:cover;
	margin-bottom: 8%;
	background-size:contain;
	padding: 20px;
	padding-top: :300px;
	color: black;
	}

.button {
	margin-top: 3%;
    margin-left: 32%;
    padding: 8%;
    height: 63px;
    color: black;
    border: 2px solid #555555;
}
